In [1]:
pip install pymysql

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pymysql
  Downloading PyMySQL-1.0.3-py3-none-any.whl (43 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 43.7/43.7 kB 3.0 MB/s eta 0:00:00
Installing collected packages: pymysql
Successfully installed pymysql-1.0.3

In [2]:
import pymysql
con=pymysql.connect(host='bxootpz4agsgdvaonjxs-mysql.services.clever-cloud.com',user='u3quhw8gzrpo35nf',password='tfEL1tqt0rrpaB8NPWMl',database='bxootpz4agsgdvaonjxs')
print('python connected to MySQL clould database successfully')
con.close()

python connected to MySQL clould database successfully

**SEARCH MOBILE IN A TABLE**

In [ ]:
import pymysql
con=pymysql.connect(host='bxootpz4agsgdvaonjxs-mysql.services.clever-cloud.com',user='u3quhw8gzrpo35nf',password='tfEL1tqt0rrpaB8NPWMl',database='bxootpz4agsgdvaonjxs')
curs=con.cursor()
try:
  no=input('enter a modnm: ')
  curs.execute("select * from mobiles  where modnm='%s'"%no)
  data=curs.fetchone()
  if data:
    print(data)
  else:
    print('not found')
except Exception as err:
  print('error',err)
con.close()

enter a modnm: realme 2
not found

ADD NEW MOBILE

In [ ]:
import pymysql
con=pymysql.connect(host='bxootpz4agsgdvaonjxs-mysql.services.clever-cloud.com',user='u3quhw8gzrpo35nf',password='tfEL1tqt0rrpaB8NPWMl',database='bxootpz4agsgdvaonjxs')
curs=con.cursor()

modnm=input('Enter modnm : ')
comp=input('company:')
col=input('color: ')
proc=input('processor: ')
conn=float(input('connectivity: '))
ram=float(input('ram: '))
rom=float(input('rom: '))
scr=float(input('screen: '))
bat=float(input('battery: '))
pri=float(input('price: '))
rat=float(input('rating: '))
curs.execute("insert into mobiles values('%s','%s','%s','%s',%.2f,%.2f,%.2f,%.2f,%.2f,%.2f,%.2f)"%(modnm,comp,col,proc,conn,ram,rom,scr,bat,pri,rat))
con.commit()
print('new mobile added to the table')
con.close()

Enter modnm : vivo Y22
company:vivo
color: starlit blue
processor: mediatek
connectivity: 4
ram: 6
rom: 128
screen: 6.55
battery: 5000
price: 16999
rating: 4.0
new mobile added to the table

**SHOW LIST OF ALL MOBILE**

In [ ]:
import pymysql
con=pymysql.connect(host='bxootpz4agsgdvaonjxs-mysql.services.clever-cloud.com',user='u3quhw8gzrpo35nf',password='tfEL1tqt0rrpaB8NPWMl',database='bxootpz4agsgdvaonjxs')
curs=con.cursor()
curs.execute("select * from mobiles")
data=curs.fetchall()
print(data)
con.close()

(('note 10', 'redmi', 'shadow black', 'qualcommsnap dragon678', 4.0, 6.0, 128.0, 6.43, 5000.0, 20000.0, 4.3), ('note 10', 'redmi', 'shadow black', 'qualcommsnap dragon678', 4.0, 6.0, 128.0, 6.43, 5000.0, 20000.0, 4.3), ('samsung galaxy F04', 'samsung', 'jade purple', 'mediatok helio P35', 4.0, 4.0, 64.0, 6.5, 5000.0, 7499.0, 4.8), ('narzo 5 pro', 'realme', 'hyper blue', 'mediatok dimensity920', 5.0, 8.0, 128.0, 6.4, 5000.0, 18499.0, 4.5), ('oppo F17pro', 'oppo', 'blue', 'mediatok helio P95', 4.0, 8.0, 128.0, 6.43, 4015.0, 22000.0, 4.7), ('nord lite Ce3', 'oneplus', 'pastel lime', 'qualcomm', 5.0, 8.0, 128.0, 6.72, 5000.0, 19999.0, 4.8), ('redmi 11 prime', 'redmi', 'thunder black', 'mediatek dimensity700', 5.0, 6.0, 128.0, 6.58, 5000.0, 14999.0, 4.0), ('oneplus 11R', 'oneplus', 'sonic black', 'snapdragon', 5.0, 8.0, 128.0, 6.7, 5000.0, 39999.0, 4.4), ('Mi A3', 'Xiaomi', 'blue', 'qualcomm snapdragon 665', 5.0, 6.0, 128.0, 6.08, 5000.0, 16599.0, 4.5), (None, None, None, None, None, None, None, None, None, None, None), ('vivo Y22', 'vivo', 'starlit blue', 'mediatek', 4.0, 6.0, 128.0, 6.55, 5000.0, 16999.0, 4.0))

**PRICE CHANGE**

In [ ]:
import pymysql
con=pymysql.connect(host='bxootpz4agsgdvaonjxs-mysql.services.clever-cloud.com',user='u3quhw8gzrpo35nf',password='tfEL1tqt0rrpaB8NPWMl',database='bxootpz4agsgdvaonjxs')
curs=con.cursor()
try:
  no=input('Enter modnm: ')
  curs.execute("select * from mobiles where modnm='%s'" %no)
  data=curs.fetchone()
  if data:
    print(data)
    pmode=input('Enter new price : ')
    curs.execute("update mobiles set price="+pmode+" where modnm='%s'" %(no))
    con.commit()
    print('price changed successfully')
  else:
    print('mobile does not exist')
except Exception as err:
  print('error in code',err)
con.close()

Enter modnm: note 10
('note 10', 'redmi', 'shadow black', 'qualcommsnap dragon678', 4.0, 6.0, 128.0, 6.43, 5000.0, 1799.0, 4.3)
Enter new price : 20000
price changed successfully

**DELETE MOBILE**

In [ ]:
import pymysql
con=pymysql.connect(host='bxootpz4agsgdvaonjxs-mysql.services.clever-cloud.com',user='u3quhw8gzrpo35nf',password='tfEL1tqt0rrpaB8NPWMl',database='bxootpz4agsgdvaonjxs')
curs=con.cursor()
try:
  no=input('Enter modnm: ')
  curs.execute("select * from mobiles")
  data=curs.fetchone()
  if data:
    print(data)
    cho=input('Do you really want to delete? (yes/no): ')
    if cho.lower=='yes':
       curs.execute("delete from mobiles where modnm='%s'"%no)
       con.commit()
       print('mobile not delete')
    else:
       print('delete cancelled by user')
  else:
    print('account does not exist')
except Exception as err:
  print('error in code',err)
con.close()

Enter modnm: Mi A3
('note 10', 'redmi', 'shadow black', 'qualcommsnap dragon678', 4.0, 6.0, 128.0, 6.43, 5000.0, 20000.0, 4.3)
Do you really want to delete? (yes/no): no
delete cancelled by user

**UPDATE ALL MODELS WITH THE PURPOSE**

In [ ]:
import pymysql
con=pymysql.connect(host='bxootpz4agsgdvaonjxs-mysql.services.clever-cloud.com',user='u3quhw8gzrpo35nf',password='tfEL1tqt0rrpaB8NPWMl',database='bxootpz4agsgdvaonjxs')
curs=con.cursor()
no=input('enter modnm : ')
curs.execute("select * from mobiles where modnm='%s'" %no)
data=curs.fetchone()
if data:
    print(data)
    pmode=input('Enter purpose: ')
    curs.execute("update mobiles set purpose='"+pmode+"' where modnm='%s'" %(no))
    con.commit()
    print('update purpose successfully')
else:
    print('mobile does not exist')
con.close()

enter modnm : note 10
('note 10', 'redmi', 'shadow black', 'qualcommsnap dragon678', 4.0, 6.0, 128.0, 6.43, 5000.0, 20000.0, 4.3, None)
Enter purpose: gaming
update purpose successfully

In [ ]:
create table mobiles
(
    modnm varchar(50),
    company varchar(50),
    color varchar(50),
    processor varchar(80),
    connectivity float,
    ram float,
    rom float,
    screen float,
    battery float,
    price float,
    rating float
);
insert into mobiles values('note 10','redmi','shadow black','qualcommsnap dragon678',4,6,128,6.43,5000,17999,4.3);
insert into mobiles values('samsung gallaxy F04','samsung','jade purple','mediatek helio P35',4,4,64,6.5,5000,7499,4.8);
insert into mobiles values('narzo 5pro','realme','hyper blue','mediatek dimensity 920',5,8,128,6.4,5000,18499,4.5);
insert into mobiles values('oppo F17 pro','oppo','blue','mediatek helio P95',4,8,128,6.43,4015,22000,4.7);
insert into mobiles values('nord lite CE3','one plus','pastal lime','qualcomm',5,8,128,6.72,5000,19999,4.8);
insert into mobiles values('redmi 11 prime','redmi','thunder black','mediatek dimensity',5,6,128,6.58,5000,14999,4.0);
insert into mobiles values('Mi A3','xiaomi','blue','qualcommsnap dragon665',5,6,128,6.08,5000,16999,4.0);
insert into mobiles values('vivo Y22','vivo','starit blue','mediatek',4,6,128,6.55,5000,16999,4);

select * from mobiles;

In [ ]:
DISPLAY ALL MOBILES IN THE DESCENDING ORDER
#select * from mobiles order by rom desc
TOTAL MODEL UNDER COMPANY, AVERAGE PRICE,AVERAGE RATING
#select sum(company) from mobiles
#select avg(price) from mobiles
#select avg(rating) from mobiles
ADD NEW COLUMN
#ATLAS TABLE mobiles ADD COLUMN purpose varchar(50);